<% content_for(:header) do %>
  <div class="header">
    <h1><%= @user.name %>'s Photos</h1>
  </div>
<% end %>

<ul>
<% @user.posts.each do |post| %>
  <li class="post"><p><%= post.title %>: <%= post.content %></p>
      <p><%= image_tag post.photo.url(:small) %>
      <% if post.tags.any? %>
        <p>
          <% tagged_friends = post.tagged_users %>
          Tagged friends: <% tagged_friends.each do |user| %>
            <%= link_to user.name, user_path(user) %>, 
          <% end %>
       </p>
      <% end %>
      <p><% if @user == current_user %>
      <%= link_to "Delete", user_post_path(@user, post), :data => {:confirm => "Are you quite certain?",
                               :method => "delete"} %> | <%= link_to "Edit or Tag", edit_user_post_path(@user, post) %>
      <% end %></p>
  </li>
<% end %>
</ul>
<div class="bottom-links">
  ༺<% if @user == current_user %>
    <%= link_to "New post", new_user_post_path(@user) %> | 
    <%= link_to "Delete account for #{@user.name}", user_path(@user), 
                                    :data => {:confirm => "Are you quite certain?",
                                    :method => "delete"} %> | 
  <% end %>
  See <%= link_to "photos of #{@user.name}", user_posts_path(@user) %> ༻
</div>


