<% content_for(:header) do %>
  <div class="header">
    <h1>Edit Post</h1>
  </div>
<% end %>

<div class="edit-post-form">
  <%= render 'form'%>
</div>



<div class="new-tag-form">
  <h3>Tag a friend</h3>
  <%= form_for(@tag) do |f| %>
    <div class="form-group">
      <%= f.label :User %>
      <%= f.collection_select :user_id, User.all, :id, :name, :class => "form-control" %>
    </div>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <div class="form-group">
      <%= f.submit "Add Tag", :class => 'btn btn-info' %>
    </div>
  <% end %>
</div>



