<h1>Photos of <%= @user.name %></h1>
  <ul>
    <% @user.posts_of_me.each do |post| %>
      <li class="post"><p><%= post.title %>: <%= post.content %></p>
          <p><%= image_tag post.photo.url(:small) %>
          <% if post.tags.any? %>
            <p>
              Tagged friends: <%= post.tagged_users.map{|user| user.name }.join(", ") %>
            </p>
          <% end %>
      </li>
    <% end %>
  </ul>
  <p><%= link_to "Back to #{@user.name}'s profile", user_path(@user) %></p>
</div>
